<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
<form name="datosBasicos" action="./inicio.html" method="">
    <h1><img src="../assets/img/undraw_to_the_moon_re_q21i.svg" width="100px" alt="">Datos Basicos</h1>
    <label for="perfil">Describe tu perfil</label>
    <input id="perfil" type="text" name="perfil">
    <label for="tipoI">Tipo de Identificacion:</label>
    <input id="tipoI" type="text">
    <label for="numI">Numero de Identificacion:</label>
    <input id="numI" type="text">
    <label for="apellidos">Apellidos:</label>
    <input id="apellidos" type="text" name="apellidos">
    <label for="nombres">Nombres:</label>
    <input id="nombres" type="text" name="nombres">
    <label for="genero">Genero:</label>
    <input id="generoF" type="radio" name="genero">Femenino
    <input id="generoM" type="radio" name="genero">Masculino
    <label for="estadoCiv">Estado Civil:</label>
    <input id="estadoCiv" type="text">
    <label for="telefono">Numero telefonico de contacto:</label>
    <input id="telefono" type="text">
    <label for="direccion">Direccion de tu residencia:</label>
    <input id="direccion" type="text" name="direccion">
    <label for="correo">Correo electronico de contacto:</label>
    <input id="correo" type="text">
    <label for="pass">Contraseña</label>
    <input id="pass" type="password" name="pass">
</form>
</body>
</html>