<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="Juan Jose Caballero" content="Intro HTML"
<title>Ejercicios Basicos de HTML</title>
<link rel="" href="../assets/img/bxs-ghost.svg"
</head>
<body>
<h1>Hello World</h1>
<h2>Hello World</h2>
<h3>Hello World</h3>
<h4>Hello World</h4>
<p>Lorem <em>ipsum dolor</em> sit amet <strong>consectetur adipisicing elit.</strong>  <br> Laudantium maxime fuga temporibus quas quis rerum nemo commodi odit, <u>deserunt nihil</u> , repellat architecto ducimus! Beatae modi ad alias doloribus placeat necessitatibus?</p>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae <sub>deserunt</sub>  ipsam ducimus, nulla neque architecto vero facilis iure? Iste, sequi delectus <sup>itaque</sup> vel ipsum laudantium dolore cupiditate totam quisquam facere?</p>
<img name="buho" src="../assets/img/buho.jpg"> 
<ol type="I">
    <li>Indice</li>
    <li>Introduccion</li>
    <li>Justificacion</li>
</ol>
<ul>
    <li>Indice</li>
    <li>Introduccion</li>
    <li>Justificacion</li>
</ul>
</body>
</html>