<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="Juan Jose Caballero" content="Quiz Stop">
<title>Quiz</title>
<link rel="" href="../assets/img/bx-notepad.svg">
</head>
<body>
<table border="2">
    <tr border="3">
        <th>L</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Cosa</th>
        <th>Color</th>
        <th>Ciudad</th>
        <th>Atributo HTML</th>
        <th>Total</th>
    </tr>
    <tr>
        <td>V</td>
        <td>Victor</td>
        <td>Valdez</td>
        <td><img name="" src="../assets/img/vela.jpg"></td>
        <td bgcolor="green"></td>
        <td>vanuatu</td>
        <td><em><u>video</video></u></em></td>
        <td><strong>1</strong></td>
    </tr>
    <tr>
        <td>D</td>
        <td>Daniel</td>
        <td>Davalos</td>
        <td><img name="" src="../assets/img/dedal.jpg"></td>
        <td bgcolor="gold"></td>
        <td>dinamarca</td>
        <td><em><u>datagrid</u></em></td>
        <td><strong>1</strong></td>
    </tr>
    <tr>
        <td>U</td>
        <td>Uriel</td>
        <td>Uribe</td>
        <td><img name="" src="../assets/img/urna.jpg"></td>
        <td bgcolor="#8000FF"></td>
        <td>uganda</td>
        <td><em><u>u</u></em></td>
        <td><strong>1</strong></td>
    </tr>
    <tr>
        <td>X</td>
        <td>Xavier</td>
        <td>Ximenez</td>
        <td><img name="" src="../assets/img/xilofono.jpg"></td>
        <td bgcolor="#494c79"></td>
        <td>xeraco</td>
        <td><em><u>XHTML</u></em></td>
        <td><strong>1</strong></td>
    </tr>
    <tr>
        <td>R</td>
        <td>Roberto</td>
        <td>Ramirez</td>
        <td><img name="" src="../assets/img/roca.jpg"></td>
        <td bgcolor="red"></td>
        <td>restrepo</td>
        <td><em><u>rel</u></em></td>
        <td><strong>1</strong></td>
    </tr>
</table>
</body>
</html>