<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="Juan Jose Caballero" content="Horario">
<title>Horario</title>
</head>
<body>
<table border="1">
    <tr>
        <th>     </th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sabado</th>
        <th>Domingo</th>
    </tr>
    <tr>
        <th>5:00</th>
        <th>Despertar y alistarse para salir</th>
        <th>Despertar y alistarse para salir</th>
        <th rowspan="4">     </th>
        <th>Despertar y alistarse para salir</th>
        <th rowspan="8">     </th>
    </tr>
    <tr>
        <th>5:30</th>
        <th rowspan="2">Coger trasmilenio y viaje</th>
        <th rowspan="2">Coger trasmilenio y viaje</th>
        <th rowspan="2">Coger trasmilenio y viaje</th>
    </tr>
    <tr>
        <th>6:00</th>
    </tr>
    <tr>
        <th>6:30</th>
        <th>Desayunar</th>
        <th>Desayunar</th>
        <th>Desayunar</th>
        <th>Despertar y alistarse para salir</th>
    </tr>
    <tr>
        <th>7:00</th>
        <th>     </th>
        <th rowspan="4">Mathematical Modeling of Systems in Natural Science</th>
        <th>Despertar y alistarse para salir</th>
        <th rowspan="4">Mathematical Modeling of Systems in Natural Science</th>
        <th rowspan="2">Coger trasmilenio y viaje</th>
    </tr>
    <tr>
        <th>7:30</th>
        <th rowspan="3">Capstone</th>
        <th rowspan="2">Coger trasmilenio y viaje</th>
    </tr>
    <tr>
        <th>8:00</th>
        <th rowspan="2">Monitoria</th>
    </tr>
    <tr>
        <th>8:30</th>
        <th>Desayunar</th>
    </tr>
    <tr>
        <th>9:00</th>
        <th rowspan="4">Geometria Computacional y Diferencial</th>
        <th rowspan="4">Religion en el Cine</th>
        <th rowspan="4">Geometria Computacional y Diferencial</th>
        <th rowspan="4">Geometria Computacional y Diferencial</th>
        <th rowspan="2">Despertar, desayunar y alistarse para salir</th>
        <th>Desayunar</th>
    </tr>
    <tr>
        <th>9:30</th>
    </tr>
    <tr>
        <th>10:00</th>
        <th rowspan="2">Coger trasmilenio y viaje</th>
    </tr>
    <tr>
        <th>10:30</th>
    </tr>
    <tr>
        <th>11:00</th>
        <th rowspan="2">     </th>
        <th rowspan="2">     </th>
        <th rowspan="4">Desarrollo Web</th>
        <th rowspan="2">     </th>
        <th rowspan="4">Desarrollo Web</th>
    </tr>
    <tr>
        <th>11:30</th>
    </tr>
    <tr>
        <th>12:00</th>
        <th rowspan="2">Almuerzo</th>
        <th rowspan="2">Almuerzo</th>
        <th rowspan="2">Almuerzo</th>
    </tr>
    <tr>
        <th>12:30</th>
    </tr>
    <tr>
        <th>1:00</th>
        <th rowspan="2">     </th>
        <th rowspan="4">Analisis Avanzado de Datos</th>
        <th rowspan="2">Almuerzo</th>
        <th rowspan="4">Analisis Avanzado de Datos</th>
        <th rowspan="2">Almuerzo</th>
    </tr>
    <tr>
        <th>1:30</th>
    </tr>
    <tr>
        <th>2:00</th>
        <th rowspan="4">Escritura para Cine y TV</th>
        <th rowspan="4">Historia y Teoria de la Guerra</th>
    </tr>
    <tr>
        <th>2:30</th>
    </tr>
    <tr>
        <th>3:00</th>
        <th rowspan="6">     </th>
        <th rowspan="6">     </th>
    </tr>
    <tr>
        <th>3:30</th>
    </tr>
    <tr>
        <th>4:00</th>
        <th rowspan="4">Computacion en la Nube</th>
        <th rowspan="4">Computacion en la Nube</th>
    </tr>
    <tr>
        <th>4:30</th>
    </tr>
    <tr>
        <th>5:00</th>
        <th rowspan="2">Monitoria</th>
    </tr>
    <tr>
        <th>5:30</th>
    </tr>
</table>
<h5><a href="./inicio.html" target="_blank">Enlace a pagina inicial</a></h5>
</body>
</html>