<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="Juan Jose Caballero" content="Lionel Messi">
<title>Lionel Messi</title>
</head>
<body>
<h1>Lionel Messi</h1>
<h2>Informacion Basica</h2>
<h3>Descripcion</h3>
<p>Lionel Andres Messi Cuccitini es un jugador argentino nacido en Rosario el 24 de Junio de 1987. Ostentoso de muchos records que le han valido el titulo de ser el mejor futbolista de todos los tiempos, los ha ganado con su seleccion, con el club de sus amores el Barcelona, el PSG y ahora el Inter de Miami que es donde actualmente juega. Ademas posee el record de ser el futbolista con mas titulos de toda la historia.</p>
<img name="Lionel Messi" src="../assets/img/messi.jpg"> 
<h3>Carrera</h3>
<table border="1">
    <tr>
        <th>Equipo</th>
        <th>Año</th>
    </tr>
    <tr>
        <td>Newell´s Old Boys</td>
        <td>1994-1999</td>
    </tr>
    <tr>
        <td>Barcelona</td>
        <td>2000-2021</td>
    </tr>
    <tr>
        <td>PSG</td>
        <td>2021-2023</td>
    </tr>
    <tr>
        <td>Inter Miami</td>
        <td>2023- </td>
    </tr>
</table>
<h3>Galardones</h3>
<h4>F.C Barcelona</h4>
<ul>
    <li>4 Champions League</li>
    <li>10 Ligas de España</li>
    <li>7 Copas del Rey</li>
    <li>3 Mundiales de Clubes</li>
    <li>3 Supercopas de Europa</li>
    <li>8 Supercopas de España</li>
</ul>
<h4>PSG</h4>
<ul>
    <li>2 Ligue 1</li>
    <li>1 Supercopa de Francia</li>
</ul>
<h4>Inter Miami</h4>
<ul>
    <li>1 Leagues Cup</li>
</ul>
<h4>Argentina</h4>
<ul>
    <li>1 Copa America</li>
    <li>1 Mundial Sub 20</li>
    <li>1 Medalla de Oro Juegos Olimpicos</li>
    <li>1 Mundial</li>
    <li>1 Finalissima</li>
</ul>
<h4>Individuales</h4>
<ul>
    <li>7 Balones de Oro</li>
    <li>1 FIFA World Player</li>
    <li>1 Premio The Best</li>
    <li>6 Botas de Oro</li>
    <li>2 Premios Laureus</li>
    <li>8 Pichichis de la Liga Española</li>
    <li>9 MVP de la Liga de España</li>
    <li>6 Maximo Goleador de la Champions</li>
    <li>1 Trofeo Bravo</li>
    <li>1 FIFA FIFPro</li>
    <li>2 Balon de Oro Mundial</li>
    <li>1 Mejor Jugador Europa</li>
    <li>1 Golden Boy</li>
    <li>2 MVP Copa America</li>
    <li>4 Onze d'Or</li>
</ul>
<h1>Enlaces a demas gustos</h1>
Como esto va a ser un conjunto de paginas las cuales van a reflejar mis gustos personales, aca estaran los hipervinculos a otras paginas de mis gustos.
<ol>
    <li><a href="./tarea2.html" target="_blank">One Piece</a></li>
</ol>
</body>
</html>