<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="Juan Jose Caballero" content="One Piece">
<title>One Piece</title>
</head>
<body>
<h1>One Piece</h1>
<h2>Informacion Basica</h2>
<h3>Descripcion</h3>
<p>One Piece es un anime el cual es adaptacion del manga del mismo nombre cuyo autor es Eiichiro Oda. Esta serie es emitida desde el 20 de Octubre de 1999, y ya lleva mas de 1000 episodios. Este se trata de Luffy, un joven que motivado por el gran tesoro dejado por el ya muerto rey de los piratas Gol D. Roger, se embarca en una aventura por los mares para encontrar dicho tesoro y volverse el rey de los piratas.</p>
<a href="https://www.crunchyroll.com/es/series/GRMG8ZQZR/one-piece" target="_blank"><img name="One Piece" src="../assets/img/one_piece.jpe"></a> 
<h3>Lista de Arcos Canon</h3>
<h4>East Blue</h4>
<ol>
    <li>Romance Dawn (1-3)</li>
    <li>Orange Town (4-8)</li>
    <li>Syrup Village (9-18)</li>
    <li>Restaurante Baratie (19-30)</li>
    <li>Arlong Park (31-45)</li>
    <li>Mini Arco de Historias de Buggy (46-47)</li>
    <li>Loguetown (48-53)</li>
</ol>
<h4>Arabasta</h4>
<ol><li>Reverse Mountain (62-63)</li>
    <li>Whisky Peak (64-67)</li>
    <li>Diario de Koby y Helmeppo (68-69)</li>
    <li>Little Garden (70-77)</li>
    <li>Drum Island (78-91)</li>
    <li>Arabasta (92-130)</li>
</ol>
<h4>Skypiea</h4>
<ol>
    <li>Jaya (144-152)</li>
    <li>Skypiea (153-195)</li>
</ol>
<h4>Water 7</h4>
<ol>
    <li>Long Ring Long Land (207-219)</li>
    <li>Water 7 (227-263)</li>
    <li>Ennies Lobby (264-312)</li>
    <li>Regreso a Water 7 (313-325)</li>
</ol>
<h4>Thriller Bark</h4>
<ol>
    <li>Thriller Bark (337-381)</li>
</ol>
<h4>Guerra de Marineford</h4>
<ol>
    <li>Archipielago Sabaody (385-405)</li>
    <li>Amazon Lily (408-421)</li>
    <li>Impel Down (422-456)</li>
    <li>Guerra de Marineford (457-489)</li>
    <li>Arco de Luffy Chikito (490-504)</li>
    <li>3D2Y (505-516)</li>
</ol>
<h4>Isla Gyojin</h4>
<ol>
    <li>Regreso a Sabaody (517-522)</li>
    <li>Isla Gyojin (523-574)</li>
</ol>
<h4>Dressrosa</h4>
<ol>
    <li>Punk Hazard (579-625)</li>
    <li>Dressrosa (629-746)</li>
</ol>
<h4>Whole Cake Island</h4>
<ol>
    <li>Zou (751-779)</li>
    <li>Whole Cake Island (783-877)</li>
</ol>
<h4>Wano</h4>
<ol>
    <li>Levely/Reverie (878-899)</li>
    <li>Wano (890- )</li>
</ol>
<h3>Personajes Principales</h3>
<ul>
    <li>Monkey D. Luffy</li>
    <li>Roronoa Zoro</li>
    <li>Vinsmoke Sanji</li>
    <li>Robin</li>
    <li>Usopp</li>
    <li>Nami</li>
    <li>Chopper</li>
    <li>Franky</li>
    <li>Brook</li>
    <li>Jinbei</li>
    <li>Trafalgar D. Water Law</li>
    <li>Eustass Kidd</li>
    <li>Shanks</li>
    <li>Monkey D. Garp</li>
</ul>
<h5><a href="./inicio.html">Enlace a pagina inicial</a></h5>
</body>
</html>