<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="Juan Jose Caballero" content="One Piece">
<title>One Piece</title>
</head>
<body>
<h1>One Piece</h1>
<h2>Informacion Basica</h2>
<h3>Descripcion</h3>
<p>One Piece es un anime el cual es adaptacion del manga del mismo nombre cuyo autor es Eiichiro Oda. Esta serie es emitida desde el 20 de Octubre de 1999, y ya lleva mas de 1000 episodios. Este se trata de Luffy, un joven que motivado por el gran tesoro dejado por el ya muerto rey de los piratas Gol D. Roger, se embarca en una aventura por los mares para encontrar dicho tesoro y volverse el rey de los piratas.</p>
<img name="buho" src="../assets/img/one_piece.jpe"> 
<h3>Lista de Arcos Canon</h3>
<ol>
    <li>Romance Dawn (1-3)</li>
    <li>Orange Town (4-8)</li>
    <li>Syrup Village (9-18)</li>
    <li>Restaurante Baratie (19-30)</li>
    <li>Arlong Park (31-45)</li>
    <li>Mini Arco de Historias de Buggy (46-47)</li>
    <li>Loguetown (48-53)</li>
    <li>Reverse Mountain (62-63)</li>
    <li>Whisky Peak (64-67)</li>
    <li>Diario de Koby y Helmeppo (68-69)</li>
    <li>Little Garden (70-77)</li>
    <li>Drum Island (78-91)</li>
    <li>Arabasta (92-130)</li>
</ol>
<h3>Personajes Principales</h3>
<ul>
    <li>Luffy</li>
    <li>Zoro</li>
    <li>Sanji</li>
    <li>Robin</li>
    <li>Usopp</li>
    <li>Nami</li>
    <li>Chopper</li>
    <li>Franky</li>
    <li>Brook</li>
    <li>Jinbei</li>
</ul>
</body>
</html>